:root {
    --fuentePrincipal: 'Roboto Slab', serif;
    --fuenteSecundaria: 'League Spartan', sans-serif;

    --negro: #000;
    --blanco: #fff;
}



html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem == 10px */
}

*,*::before, *:after {
    box-sizing: inherit;
}

main {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 20px;
}

form {
    display: grid;
    gap: 10px;
}

input {
    font-size: 1.5rem;

}

h1 { 
    font-size: 3rem; 
    font-family: var(--fuentePrincipal);
}

h2, h3, h4, h5, h6 { 
    font-size: 2.5rem; 
    font-family: var(--fuentePrincipal);
}

p {  
    font-size: 2rem; 
    font-family: var(--fuenteSecundaria);
}

i { 
    font-size: 2.5rem; 
    color: var(--blanco);
    transition: all 1s;
}

i:hover {
    transform: rotate(180deg);
}

ul {
    margin: 0;
    padding: 0;
}

a { 
    font-size: 2rem; 
    color: var(--blanco);
    text-decoration: none;
    font-family: var(--fuenteSecundaria);
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 2rem;
    font-family: var(--fuenteSecundaria);
}

/* Navegacion */

.main-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
    position: sticky;
    top: 25px;
    
}

.menu-nav {
    display: none;
}

.info__text {
    display: none;
}



.info, .menu{
    background: var(--negro);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7),
                0 0 20px 0 rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: row;
}


.info__icon, .menu__icon {
    margin: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
}

/* Info */

.info:hover > .info__text {
    display: block;
    margin-right: 2rem;
}

.info__text {
    color: var(--blanco);
}

/* Menu */

.menu:hover > .menu-nav {
    display: block;
    margin: 20px;
}

.menu-nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 420px) {
    .menu {
        flex-direction: column;
    }

    .menu-nav__list {
        gap: 4rem;
    }
}


/* Pract1  */

.form-IMC__text {
    margin: 10px 0;
}

.form-IMC__input-diplay {
    padding: 10px;
    grid-column: 1/3;
}


.form-IMC__input-num {
    padding: 10px;
    width: 100%;
}

.form-IMC__input-button {
    padding: 10px;
    grid-column: 1/3;
}

/* Pract2 */


.form-conv {
    grid-template-columns: 4fr 1fr 4fr;
    justify-items: center;
    align-items: center;
}

.form-conv__num {
    padding: 10px;
    width: 100%;

}

.form-conv__contenedor {
    width: 100%;
}

.form-conv__boton {
    padding: 10px;
    width: 100%;
    grid-column: 1/4;
}

.form-conv__text1, .form-conv__text2  {
    margin: 0;
}



/* Pract3 */

.form-dist__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


.form-dist__display {
    padding: 10px;
}

.form-dist__input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
}

.form-dist__input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.form-dist__text--input {
    font-size: 4rem;
    font-weight: 100;
}

.form-dist__button {
    padding: 10px;
}


/* Pract4 */

.form-area-c {
    align-items: center;
    grid-template-columns: 1fr 5fr;

}

.form-area-c__display {
    padding: 10px;
    grid-column: 1/3;
}

.form-area-c__input {
    padding: 10px;
    width: 100%;
}

.form-area-c__button {
    grid-column: 1/3;
    padding: 10px;
}


/* Pract5 */


.form-areat {
    grid-template-columns: repeat(3, 1fr);
}

.form-areat__display, .form-areat__button {
    grid-column: 1/4;
    padding: 10px;
}

.form-areat__contenedor {
    width: 100%;
}

.form-areat__input {
    width: 100%;
    padding: 10px;
}



/* Pract7 */

.form-conv-cf {
    grid-template-columns: 1fr 1fr;
}

.form-conv-cf__contenedor {
    width: 100%;

}

.form-conv-cf__input {
    width: 100%;
    padding: 10px;
}

.form-conv-cf__button {
    padding: 10px;
    grid-column: 1/3;
}


/* Pract8 */
.form-calc-pr {
    grid-template-columns: 1fr 1fr;
}

.form-calc-pr__display {
    padding: 10px;
}

.form-calc-pr__display, .form-calc-pr__contenedor--lrg {
    grid-column: 1/3;

}

.form-calc-pr__input {
    padding: 10px;
    width: 100%;
}

.form-calc-pr__contenedor--l {
    grid-column: 1/3;
}

.form-calc-pr__contenedor {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
    gap: 10px;


}

.contenedor__text {
    font-weight: 600;
}

.form-calc-pr__contenedor--sec {
    width: 100%;
}

.form-calc-pr__button {
    grid-column: 1/3;
    padding: 10px;
}


